/*CSS Boilerplate*/
* {
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  text-size-adjust: none; /* for other mobile browsers */
  -webkit-text-size-adjust: none; /* for iOS Safari */
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.calculator {
  font-size: 3rem;
}

#display {
  font-family: "Apple Symbols", serif;
  border: 5px solid lightgray;
  border-radius: 1rem;
  padding: 1rem;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
}
.btn {
  min-width: 3rem;
}

.option {
  background: lightcoral;
}

.operator {
  background: lightblue;
}

#\= {
  background: orange;
}