/*CSS Boilerplate*/
* {
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  text-size-adjust: none; /* for other mobile browsers */
  -webkit-text-size-adjust: none; /* for iOS Safari */
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background: #121A20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

/*My Style*/
.calculator {
  font-size: 3rem;
  border: 5px solid seagreen;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px black;
  padding: 1.5rem;
}

#display {
  color: white;
  font-family: "Apple Symbols", serif;
  border: 5px solid lightgray;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px black;
  text-shadow: 3px 3px 3px black;
  padding: 1rem;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
}

.btn {
  border-radius: 1rem;
  min-width: 3rem;
  color: white;
  box-shadow: 2px 2px 2px black;
}

/* Base styles for all buttons */
.btn:hover,
.btn:focus {
  transition: background-color 0.3s ease; /* This will ensure the color transitions over a 1 second period */
}

/* Specific styles for .number class */
.number {
  background: lightgrey;
  color: black;
}

.number:hover,
.number:focus {
  background: black;
  color: lightgrey;
}

.option {
  background: lightcoral;
  color: black;
}

.option:hover,
.option:focus {
  background: black;
  color: lightcoral;
}

/* Specific styles for .operator class */
.operator {
  background: lightblue;
  color: black;
}

.operator:hover,
.operator:focus {
  background: black;
  color: lightblue;
}

/* Specific styles for #\= id */
#\= {
  background: orange;
  color: black;
}

#\=:hover,
#\=:focus {
  background: black;
  color: orange;
}
