*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 2rem;
}